In [3]:
import numpy as np
import pandas as pd

In [6]:
user_profile = pd.read_csv('lastfm-dataset-1K/userid-profile.tsv',sep='\t')

In [7]:
user_profile.head()

,00000c289a1829a808ac09c00daf10bc3c4e223b,f,22,Germany,"Feb 1, 2007"
0,00001411dc427966b17297bf4d69e7e193135d89,f,NaN,Canada,"Dec 4, 2007"
1,00004d2ac9316e22dc007ab2243d6fcb239e707d,NaN,NaN,Germany,"Sep 1, 2006"
2,000063d3fe1cf2ba248b9e3c3f0334845a27a6bf,m,19.0,Mexico,"Apr 28, 2008"
3,00007a47085b9aab8af55f52ec8846ac479ac4fe,m,28.0,United States,"Jan 27, 2006"
4,0000c176103e538d5c9828e695fed4f7ae42dd01,m,20.0,United Kingdom,"Jan 14, 2006"

In [8]:
user_profile.columns

Index([u'00000c289a1829a808ac09c00daf10bc3c4e223b', u'f', u'22', u'Germany',
       u'Feb 1, 2007'],
      dtype='object')

In [9]:
user_profile['age'].max()

KeyError: 'age'

In [10]:
user_profile.describe()

                  22
count  284446.000000
mean       25.098057
std        21.665779
min     -1337.000000
25%        20.000000
50%        23.000000
75%        28.000000
max      1002.000000

In [9]:
user_profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992 entries, 0 to 991
Data columns (total 5 columns):
#id           992 non-null object
gender        884 non-null object
age           286 non-null float64
country       907 non-null object
registered    984 non-null object
dtypes: float64(1), object(4)
memory usage: 38.8+ KB

In [10]:
user_profile['gender'].value_counts()

m    502
f    382
Name: gender, dtype: int64

In [11]:
user_profile['country'].value_counts()

United States                             228
United Kingdom                            126
Poland                                     50
Germany                                    36
Norway                                     35
Canada                                     32
Finland                                    32
Turkey                                     28
Italy                                      27
Sweden                                     24
Netherlands                                23
Australia                                  22
Russian Federation                         22
Brazil                                     20
Spain                                      17
France                                     14
Mexico                                     12
Belgium                                     9
Argentina                                   9
Chile                                       8
Portugal                                    8
Romania                                     8
Croatia                                     7
Bulgaria                                    7
New Zealand                                 6
Venezuela                                   6
Japan                                       5
Switzerland                                 5
Czech Republic                              5
Peru                                        5
                                         ...
Lithuania                                   4
China                                       3
Thailand                                    3
Greece                                      3
Colombia                                    3
Austria                                     3
Latvia                                      3
Morocco                                     2
Slovenia                                    2
Tunisia                                     1
Iceland                                     1
British Indian Ocean Territory              1
Korea, Democratic People's Republic of      1
Cote D'Ivoire                               1
Bosnia and Herzegovina                      1
Israel                                      1
India                                       1
Armenia                                     1
Congo, the Democratic Republic of the       1
Belarus                                     1
Malta                                       1
Northern Mariana Islands                    1
Antarctica                                  1
Netherlands Antilles                        1
Singapore                                   1
United States Minor Outlying Islands        1
Algeria                                     1
Nicaragua                                   1
Zimbabwe                                    1
Macedonia                                   1
Name: country, Length: 66, dtype: int64

In [12]:
user_profile['registered'].value_counts()

Dec 6, 2005     6
Mar 5, 2006     5
Dec 19, 2006    5
Oct 26, 2005    5
Dec 4, 2005     5
Jun 3, 2006     5
Apr 18, 2006    5
Jan 22, 2006    5
Mar 3, 2006     4
Aug 7, 2006     4
Dec 16, 2005    4
Feb 1, 2006     4
Jul 20, 2005    4
Jan 29, 2006    4
Mar 18, 2006    4
Nov 12, 2006    4
Feb 13, 2006    4
Mar 13, 2006    4
Feb 28, 2006    4
Dec 10, 2005    3
Sep 25, 2006    3
Dec 19, 2005    3
Nov 26, 2005    3
May 31, 2006    3
Aug 20, 2006    3
Jun 7, 2006     3
Feb 22, 2005    3
May 10, 2006    3
May 24, 2005    3
Feb 19, 2006    3
               ..
Apr 18, 2004    1
Oct 6, 2006     1
Jun 23, 2006    1
Apr 30, 2006    1
Sep 2, 2007     1
Oct 24, 2006    1
Apr 16, 2006    1
Jun 12, 2005    1
Apr 5, 2006     1
Sep 17, 2005    1
Nov 1, 2006     1
Jan 27, 2005    1
Feb 17, 2006    1
May 16, 2007    1
Jun 6, 2007     1
Mar 10, 2003    1
Sep 8, 2006     1
Jan 7, 2005     1
Sep 17, 2007    1
Mar 26, 2006    1
Jun 27, 2005    1
Dec 20, 2004    1
Dec 30, 2005    1
Nov 19, 2005    1
Oct 27, 2005    1
Jul 28, 2004    1
Apr 25, 2007    1
Feb 4, 2005     1
Oct 15, 2004    1
Oct 8, 2006     1
Name: registered, Length: 625, dtype: int64

In [13]:
user_profile.columns

Index(['#id', 'gender', 'age', 'country', 'registered'], dtype='object')

In [14]:
user_profile.

           #id gender   age             country    registered
0  user_000001      m   NaN               Japan  Aug 13, 2006
1  user_000002      f   NaN                Peru  Feb 24, 2006
2  user_000003      m  22.0       United States  Oct 30, 2005
3  user_000004      f   NaN                 NaN  Apr 26, 2006
4  user_000005      m   NaN            Bulgaria  Jun 29, 2006
5  user_000006    NaN  24.0  Russian Federation  May 18, 2006
6  user_000007      f   NaN       United States  Jan 22, 2006
7  user_000008      m  23.0            Slovakia  Sep 28, 2006
8  user_000009      f  19.0       United States  Jan 13, 2007
9  user_000010      m  19.0              Poland   May 4, 2006

In [15]:
user2 = pd.read_csv('lastfm-dataset-360K/usersha1-profile.tsv',sep='\t')

In [16]:
user2.head()

,00000c289a1829a808ac09c00daf10bc3c4e223b,f,22,Germany,"Feb 1, 2007"
0,00001411dc427966b17297bf4d69e7e193135d89,f,NaN,Canada,"Dec 4, 2007"
1,00004d2ac9316e22dc007ab2243d6fcb239e707d,NaN,NaN,Germany,"Sep 1, 2006"
2,000063d3fe1cf2ba248b9e3c3f0334845a27a6bf,m,19.0,Mexico,"Apr 28, 2008"
3,00007a47085b9aab8af55f52ec8846ac479ac4fe,m,28.0,United States,"Jan 27, 2006"
4,0000c176103e538d5c9828e695fed4f7ae42dd01,m,20.0,United Kingdom,"Jan 14, 2006"